[GENOME]
fasta : "female.hg19.fa"

[DIRECTORY]
dir1 : "/home/marion/Desktop/Marion/Gaelle/BLESS_data/Nov2015/"
dir2 : "/home/marion/Desktop/Marion/Gaelle/BLESS_data/June2015/"

[FASTQ]
	[NAME:B-U2OS-Tam_Vincent]
		[DIR:1]
			"B-U2OS-Tam_CCGTCC_L005_R1_C4H12ACXX"
			"B-U2OS-Tam_CCGTCC_L005_R1_C5PK2ACXX"
			"B-U2OS-Tam_CCGTCC_L005_R2_C4H12ACXX"
		[DIR:2]
			"B-U2OS-Tam_CCGTCC_L005_R2_C5PK2ACXX"
			"B-U2OS-Tam_CCGTCC_L007_R1_C5PK2ACXX"
			"B-U2OS-Tam_CCGTCC_L007_R2_C5PK2ACXX"
			"B-U2OS-Tam_CCGTCC_L008_R1_C4H12ACXX"
			"B-U2OS-Tam_CCGTCC_L008_R1_C5PK2ACXX"
			"B-U2OS-Tam_CCGTCC_L008_R2_C4H12ACXX"
			"B-U2OS-Tam_CCGTCC_L008_R2_C5PK2ACXX"

	[NAME:B-U2OS_Vincent]
		[DIR:1]
			"B-U2OS_ATGTCA_L004_R1_C4H12ACXX"
			"B-U2OS_ATGTCA_L004_R2_C4H12ACXX"

	[NAME:BLESS_U2OS_WT_C_Vincent]
		[DIR:1]
			"BLESS_U2OS_WT_C_ATGTCA_L001_R1_H2G5LBCXX"
			"BLESS_U2OS_WT_C_ATGTCA_L001_R2_H2G5LBCXX"

	[NAME:BLESS_U2OS+Tam_Vincent]
		[DIR:2]
			"BLESS_U2OS+Tam"

	[NAME:BLESS_U2OS-Tam_Vincent]
		[DIR:2]
			"BLESS_U2OS-Tam"
